{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
.button {
      background-color: green;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .button:hover {
      background-color:#90EE90;
      color: black;
      box-shadow: 0 8px 16px 0 white;
    }
    body{
      background-color: light green;   
    }
</style>
<body>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <a href= "{% url 'farmers' %}">
    <button type="submit" class="button">Save Farmer</button>
    </a>

  </form>
{% endblock %}